body {
    background-color: #DF9B2A;
    font-family: 'SentientBold', Georgia, serif;
}
p {
    font-family: Arial, sans-serif;
}
textarea {
    background-color: #F5A92B;
    border: 1px solid #1D1D1C;
    box-shadow: none;
    color: #1D1D1C;
    font-family: Arial, sans-serif;
}
input[type="submit"] {
    background-color: transparent;
    border: 1px solid #1D1D1C;
    color: #1D1D1C;
    cursor: pointer;
    font-family: Arial, sans-serif;
    padding: 5px 10px;
}
input[type="submit"]:hover {
    background-color: #1D1D1C;
    color: #DF9B2A;
}